.scroll-list-container {
  position: relative;
  width: 100%;
}

.scroll-list {
  max-height: 550px;
  overflow-y: auto;
  /* padding: 16px; */
}

.scroll-list::-webkit-scrollbar {
  width: 2px;
}

.scroll-list::-webkit-scrollbar-track {
  background: var(--bg-soft);
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #271e37;
  border-radius: 14px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  /* background-color: #170d27; */
  border-radius: 8px;
  margin-bottom: 1rem;
}

.item.selected {
  background-color: #271e37;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  /* background: linear-gradient(to bottom, #060010, transparent); */
  pointer-events: none;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  /* background: linear-gradient(to top, #060010, transparent); */
  pointer-events: none;
}
